@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/back.svg);
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --themeColor: #220839;
  --themeSec: #7d4aaa;
  --col:#ffffff00;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  background-color: white;
  z-index: 100;
}

#logo {
  color: var(--themeColor);
  font-weight: 800;
  font-size: 1.8rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 900;

}

#logo img {
  width: 15%;
  height: auto;
}

#navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
}



#navRight {
  background-color: var(--themeSec);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.navEle {
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  overflow: hidden;

}

section {
  padding: 4rem;
  overflow: hidden;
}

footer {
  background-color: var(--themeColor);
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logoText {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

#footeradress {
  color: rgba(255, 255, 255, 0.564);
}

.footerContact {
  text-align: right;
  color: white;
}

#footerRight {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

#socials {

  text-align: right;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

#navMob {
  display: none;
}

#mobMenuFull {
  display: none;
}

::placeholder {
  font-size: 1rem;
}

textarea {
  resize: none;
}

input {
  font-size: 1rem;
}

@media screen and (min-width:2000px) {
  * {
    font-size: 105%;

  }
}

@media screen and (max-width:1200px) {
  * {
    font-size: 98%;
  }
}

@media screen and (max-width:1071px) {
  * {
    font-size: 95%;
  }
}

@media screen and (max-width:980px) {
  * {
    font-size: 92%;
  }
}

@media screen and (max-width:890px) {
  * {
    font-size: 80%;
  }

  html,
  body {
    background-image: none;
  }
}

@media screen and (max-width:800px) {
  * {
    font-size: 75%;
  }

  html,
  body {
    background-image: none;
  }
}

@media screen and (max-width:740px) {
  * {
    font-size: 70%;
  }
}

@media screen and (max-width:680px) {
  * {
    font-size: 64%;
  }
}

@media screen and (max-width:600px) {
  nav {
    padding: 0.5rem 1rem;
  }

  #navMob {
    display: block;
  }

  * {
    font-size: 58%;
  }

  header {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }


  .navEle,
  #navRight {
    display: none;
  }

  #mobMenuFull {

    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    display: none;
  }

  #mobMenuInt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobNav {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
  }

  #mobContact {
    background-color: var(--themeSec);
    border-radius: 1rem;
    padding: 1rem;
    color: white;
  }

  #mobCross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    font-weight: 600;
  }

  #footerLeft {
    display: none;
  }

  #footerRight {
    width: 100%;
    text-align: left;
  }

  .footerContact {
    text-align: left;
    color: white;
    font-size: 1rem;
  }

  #mobInc {
    font-size: 1.5rem;
  }

  #socials {
    padding-top: 1rem;
    justify-content: flex-start;
  }

  .socialIco img {
    width: 20px;
    height: 20px;
  }

}