#logo {
  color: var(--themeColor);
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

#navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
}

#topStyle {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--themeColor);
  width: 30vw;
  height: 70vh;
}

#navRight {
  background-color: var(--themeSec);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
}



#headerLeft {
  font-size: 3rem;
  width: 40%;
  padding: 3rem;
}

#headerLeft span {
  font-weight: 700;
  color: var(--themeColor);
}

#headerCta {
  font-size: 1.5rem;
  background-color: var(--themeColor);
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
}

#headerRight img {
  box-shadow: rgba(100, 100, 111, 0.429) 0px 7px 29px 0px;
  position: relative;
  top: 4rem;
  border-radius: 0.5rem;
  left: 20rem;
}

#services {
  padding: 4rem;
}

#servicesHead {
  font-size: 3.5rem;
  width: 50%;
  font-weight: 500;
  line-height: 1;
}

#servicesHead span {
  font-size: 1.5rem;
  font-weight: normal;
}

#serviceCards {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem
}

.serviceCard {
  width: 100%;
  background-color: var(--themeSec);
  height: 300px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.429) 0px 7px 29px 0px;
}

.serviceCardLeft {
  width: 72%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serviceCardRight {
  width: 29%;
}

.serviceCardRight img {
  height: 100%;
}

.serviceCardHeading {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  padding-bottom: 1rem;
}

.serviceCardLeft span {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.834);
}

.servBottom {
  background-color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}