#topStyle {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--themeColor);
  width: 30vw;
  height: 70vh;
}



#headerLeft {
  font-size: 3rem;
  width: 40%;
  padding: 3rem;
  padding-left: 5rem;
}

#headerLeft span {
  font-weight: 700;
  font-size: 3rem;
  color: var(--themeColor);
}

#headerCta {
  font-size: 1.5rem;
  background-color: var(--themeColor);
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
}

#headerRight img {
  box-shadow: rgba(100, 100, 111, 0.429) 0px 7px 29px 0px;
  position: relative;
  top: 4rem;
  border-radius: 0.5rem;
  left: 20rem;
}

#abtUsArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#abtUsHead {
  font-size: 4rem;
  font-weight: 600;
}

#abtusText {
  text-align: right;
  width: 50%;
  font-size: 1.5rem;
}

#whoContent span {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--themeColor);
}

#what {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.whatHeading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--themeColor);
}

.whatContent {
  width: 80%;
  font-size: 1rem;
}

#servicesHead,
#recruitHead {
  font-size: 3.5rem;
  width: 50%;
  font-weight: 500;
  line-height: 1;
}

#servicesHead span,
#recruitHead span {
  font-size: 1.5rem;
  font-weight: normal;
}


#techHomeArea {
  display: flex;
  flex-direction: row;
  width: 100vw;

  align-items: flex-start;
  justify-content: space-between;
}

#techCardsHome {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.techCardHome {
  background-color: var(--themeSec);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 50%;
  cursor: pointer;
  transition: 500ms ease-in-out;
  box-shadow: rgba(45, 45, 48, 0.203) 0px 7px 29px 0px;
}

.techCardHome:hover {
  scale: 1.02;
  transition: all 500ms ease-in-out;

}

.techCardHome Image {
  position: relative;
  right: 0px;
}

#py {
  background-color: brown;
}

#data {
  background-color: green;
}

#net {
  background-color: blue;
}

#devOps {
  background-color: cadetblue;
}

#techButton {
  background-color: var(--themeColor);
}

#clientLogos {
  padding: 2rem 0;
  width: 100vw;

}


#clientHead {
  font-size: 3rem;
  padding: 0 4rem;
  font-weight: 500;
}

.clientLogo {
  width: auto;
}

#recruitProcess {
  background-color: var(--themeSec);
}

#recruitHead {
  color: white;
}

#recruitArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recruitCards {
  margin-top: 1rem;
  width: 60%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recruitCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 35rem;
  max-width: 35rem;
  background-color: white;
  height: fit-content;
  justify-content: sp;
  padding: 2rem;
  border: 1px solid var(--themeColor);
  border-radius: 1rem;
}

.recruitCardNumber {
  background-color: var(--themeColor);
  padding: 0.5rem;
  color: white;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border-radius: 50%;
  font-size: 1rem;
}

.recruitCardHead {
  font-size: 2rem;
  font-weight: 500;
}

.recruitCardSubhead {
  font-size: 1rem;
}



.recruitDivider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background-color: var(--themeColor);
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logoText {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

#footeradress {
  color: rgba(255, 255, 255, 0.564);
}

.footerContact {
  text-align: right;
  color: white;
  font-size: 1rem;
}

#footerRight {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width:1200px) {
  #headerRight {
    width: 90%;

    height: 80%;
  }


  #recruitArea {
    padding-right: 0;
  }

  #rctImage img {
    width: 90%;
    padding-left: 20%;
  }
}

@media screen and (max-width:1071px) {
  #headerRight Img {
    width: auto;
    height: 50%;
    left: 30%;
  }

  #abtUsArea Img {
    width: auto;
    height: 60%;
  }

  #what {
    padding-top: 1rem;
  }
}

@media screen and (max-width:980px) {
  #headerRight Img {
    width: auto;
    height: 60%;
    top: 20%;
    left: 40%;

  }

  #headerRight {
    width: 50%;
  }
}

@media screen and (max-width:895px) {
  #rctImage Img {
    display: none;
  }

  #img Img {
    position: relative;
    width: 70%;
    height: auto;
    left: 40%;

  }

  #headerRight Img {
    width: auto;
    height: 50%;
    top: 20%;
    left: 30%;

  }

  .techCardHome {
    width: 70%;
  }
}

@media screen and (max-width:770px) {


  #abtUsArea Img {
    width: 40%;

  }

  #img Img {
    width: 70%;
    height: auto;

  }

  .techCardHome {
    width: 70%;
  }
}

@media screen and (max-width:700px) {
  #img Img {
    width: 60%;
    position: relative;
    height: auto;
    left: 20%;

  }


}

@media screen and (max-width:600px) {
  #topStyle {
    left: 0;
    right: unset;
    width: 20rem;
    height: 60vh;
  }

  #headerLeft {
    width: 100%;

  }

  #headerRight {
    width: 100%;
    left: 0rem;
    /* height: 50vh; */
    padding: 0;
    margin-bottom: -20rem;
  }

  #headerRight img {
    left: 4rem;
  }

  #abtUsArea {
    flex-direction: column;
    width: 100%;
  }

  #abtusText {
    width: 100%;
    text-align: left;
    font-size: 3rem;
  }

  #whoContent span {
    font-size: 2rem;
  }

  #abtUsArea Img {
    height: 80%;
    width: 90%;
    padding: 2rem 0;
  }

  #what {
    flex-direction: column;
    padding: 5rem 0;
  }

  .whatContent {
    width: 90%;
    font-size: 2rem;
  }

  .whatHeading {
    font-size: 2.5rem;
  }

  #img img {
    display: none;
  }

  #servicesHead,
  #recruitHead {
    width: 100%;

  }

  #techCardsHome {
    width: 100%;
  }

  .techCardHome {
    width: 82%;
    font-size: 1.5rem;
  }

}