#services {
  padding: 4rem;
}

#servicesHead,
#recruitHead {
  font-size: 3.5rem;
  width: 50%;
  font-weight: 500;
  line-height: 1;
}

#servicesHead span,
#recruitHead span {
  font-size: 1.5rem;
  font-weight: normal;
}

#serviceCards {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem
}

.serviceCard {
  width: 100%;
  background-color: var(--themeSec);
  height: 20rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.429) 0px 7px 29px 0px;
}

.serviceCardLeft {
  width: 72%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serviceCardRight {
  width: 29%;
}

.serviceCardRight img {
  height: 100%;
  width: auto;
}

.serviceCardHeading {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  padding-bottom: 1rem;
}

.serviceCardLeft span {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.834);
}

.servBottom {
  background-color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.7rem;
}

@media screen and (max-width:1071px) {
  .serviceCardRight Img {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width:980px) {
  .serviceCard {
    height: 270px;
  }
}

@media screen and (max-width:895px) {
  .serviceCard {
    height: 250px;
  }
}

@media screen and (max-width:800px) {
  .serviceCard {
    height: 220px;
  }
}

@media screen and (max-width:680px) {
  .serviceCard {
    height: 190px;
  }
}