.techBack {
    padding: 3rem;
    overflow: hidden;

}

#techdetailst {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}

#mainTextHeading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--themeColor);
}

#mainTextSub {
    font-size: 1.2rem;
}

#mainTextSub span {
    font-weight: 600;
    font-size: 1.2rem;
}

#techIntro {
    padding-top: 2rem;
}

#techHead {
    font-size: 3rem;
    font-weight: 600;
    color: var(--themeColor);
}

#techCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;

}

#explore {
    font-size: 3rem;
    font-weight: 500;
}

.techCard {
    background-color: var(--themeSec);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.techCardHead {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.techCardSub {
    color: white;
}

#extraArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#extraHeading {
    padding-top: 1rem;
    font-size: 2rem;
}

#extraContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

.extraCard {
    background-color: var(--themeColor);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    width: 30vw;
}


#logoText {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

#footeradress {
    color: rgba(255, 255, 255, 0.564);
}

.footerContact {
    text-align: right;
    color: white;
}

#footerRight {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#socials {

    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width:1100px) {
    #mainTextImage Img {
        width: auto;
        height: 90%;
    }

    .extraCard {
        width: 40vw;
        padding: 2rem;
        font-size: 1.5rem;
    }

    #remove {
        overflow: hidden;
    }

    #remove img {
        /* scale: 1.5; */
        position: relative;
        left: 30%;

    }

}

@media screen and (max-width:800px) {
    #extraArea Img {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width:600px) {
    #techdetailst {
        flex-direction: column-reverse;
    }

    #techCards {
        grid-template-columns: 1fr 1fr;
    }

    #extraArea {
        flex-direction: column;
    }

    #explore {
        padding: 2rem 0;
        font-weight: 600;
    }

    #remove {
        display: none;
    }

    .extraContent {
        width: 100vw;
    }

    .extraCard {
        width: 80vw;
        padding: 2rem;
        font-size: 1.5rem;
    }
}